{
  "env": {
    "node": true
  },
  "rules": {
    "brace-style": 2,
    "comma-style": [2, "first"],
    "consistent-return": 1,
    "consistent-this": [2, "that"],
    "curly": [1, "multi"],
    "default-case": 1,
    "func-style": [2, "declaration"],
    "handle-callback-err": [1, "^.*(e|E)rr"],
    // "indent": [1, 2, {
    //   "indentSwitchCase": true
    // }],
    "max-len": [2, 100, 4],   // Max 100 chars per line, where tabs count as 4 chars
    "max-nested-callbacks": [1, 4],
    "max-params": [1, 4],
    "no-else-return": 2,
    "no-eq-null": 2,
    "no-floating-decimal": 1,
    "no-mixed-requires": 0,
    "no-multiple-empty-lines": [2, {
      "max": 2
    }],
    "no-nested-ternary": 2,
    "no-process-exit": 1,
    "no-self-compare": 2,
    "semi-spacing": 0,
    "no-throw-literal": 2,
    "no-unused-expressions": 1,
    "no-use-before-define": [2, "nofunc"],
    "no-warning-comments": [1, {
      "terms": ["todo", "fixme"],
      "location": "start"
    }],
    "operator-assignment": [1, "always"],
    "quote-props": [2, "as-needed"],
    "quotes": [2, "single", "avoid-escape"],
    "semi": [2, "never"],
    "space-after-keywords": 2,
    "space-before-blocks": 2,
    "space-before-function-paren": 2,
    "space-in-brackets": [0, "always", {
      "singleValue": false,
      "propertyName": false,
      "arraysInArrays": false
    }],
    "space-in-parens": 2,
    "space-unary-ops": [1, {
      "words": true,
      "nonwords": true
    }],
    "spaced-line-comment": 1,
    "strict": [2, "global"],
    "wrap-iife": [2, "inside"],
    "wrap-regex": 2,
    "valid-jsdoc": [1, {
      "requireReturn": true,
      "requireReturnDescription": false
    }]
  }
}
